= form_for @order do |f|
  =error_messages_for(@order)
  =f.hidden_field :status
  .row
    .col-md-4
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', type: 'text', value: @current_user.name
    .col-md-4
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control', type: 'email', value: @current_user.email
  .row
    .col-md-4
      .form-group
        = f.label :pay_type
        = f.select :pay_type, [['','']] + Order::PAIS, {}, class: 'form-control'
  .row
    .col-md-4
      .form-group
        = f.label :delivery_type
        = f.select :delivery_type, [['', '']] + Order::DELIVERIES, {}, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :address
        = f.text_field :address, class: 'form-control'
  .actions
    = f.submit nil, class: 'btn btn-primary'
